body {
    display: flex;
    justify-content: center;
    background: #efefef;
    text-align: center;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.circle {
    margin-top: 3rem;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-left: 50px;
    background-image: linear-gradient(to left, #ffffff, #fff 50%, #000 50%, #000000);
    animation: roll 10s infinite;
    animation-timing-function: linear;
}



.yinyang {
    position: relative;
    background: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to left, #ffffff, #fff 50%, #000 50%, #000000);
    animation: roll 4s infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.yinyang:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    background: #fff;
    border: 18px solid #000;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

.yinyang:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%);
    background: #000;
    border: 18px solid #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

@keyframes roll {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}